/* Stylesheet Index. Import Less modules here. */
html,
.footer {
  background: #faeceb;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #850d00 !important;
}
.navbar-default {
  background: #cf685c;
}
.navbar-default * {
  color: white !important;
  font-weight: bold;
}
.content {
  margin-bottom: 20px;
}
.jumbotron img {
  max-width: 100%;
}
/* Download data page */
fieldset {
  margin-bottom: 20px;
}
.errorlist {
  color: red;
}
.column-checkboxes ul {
  list-style: none;
}
.column-checkboxes ul li {
  width: 25%;
  float: left;
}
@media (max-width: 786px) {
  .column-checkboxes ul li {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .column-checkboxes ul li {
    width: 100%;
  }
}
