{% extends "base.html" %}

{% block title %} - Information{% endblock %}

{% block content %}

<h1>Download Ecological Database of the Worlds Insect Pathogens data</h1>
<br>
<form action="{% url 'download' %}" method="post" id="edwip">
    {% csrf_token %}
    <fieldset>
        <legend>Filter by Host</legend>
        <div class="row-fluid">
            <div class="col-md-4">
                <h4>Host Binomial</h4>
                {{ form.host_binomial.errors }}
                <div class="field-wrapper clearfix">
                    {{ form.host_binomial }}
                </div>
            </div>
            <div class="col-md-4">
                <h4>Host Order/ Taxon</h4>
                {{ form.host_order.errors }}
                <div class="field-wrapper clearfix">
                    {{ form.host_order }}
                </div>
            </div>
            <div class="col-md-4">
                <h4>Host Famile</h4>
                {{ form.host_family.errors }}
                <div class="field-wrapper clearfix">
                    {{ form.host_family }}
                </div>
            </div>
            <div class="col-md-4">
                <h4>Host Genus</h4>
                {{ form.host_genus.errors }}
                <div class="field-wrapper clearfix">
                    {{ form.host_genus }}
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Filter by Pathogen</legend>

        <div class="row-fluid">
            <div class="col-md-4">
                <h4>Pathogen Name</h4>
                {{ form.pathogen_name.errors }}
                <div class="field-wrapper clearfix">
                    {{ form.pathogen_name }}
                </div>
            </div>
            <div class="col-md-4">
                <h4>Pathogen Group</h4>
                {{ form.pathogen_group.errors }}
                <div class="field-wrapper clearfix">
                    {{ form.pathogen_group }}
                </div>
            </div>
        </div>
    </fieldset>

    <br>

    <fieldset>
        <legend>Select the fields you want included in your download.</legend>

        <div class="field-grouping clearfix">
            {{ form.edwip_fields.errors }}

            <div class="field-wrapper column-checkboxes clearfix">
                {{ form.edwip_fields }}
            </div>
        </div>

    <div class="well text-center">
        <input type="submit" value="Download Data" class="btn btn-primary"/>
    </div>
</form>
{% endblock %}
