{% extends "base.html" %}

{% block title %} Ecological Database of the Worlds Insect Pathogens{% endblock %}

{% block content %}
<h1>Download Ecological Database of the Worlds Insect Pathogens data</h1>
<br>
<form action="/download" method="post" id="edwipData">
  <fieldset>
    <legend>Filter by Host</legend>
    <div class="row-fluid">
      <div class="col-md-4">
        <h4>Host Order/ Taxon</h4>
        <div class="field-wrapper clearfix">
          <select multiple="multiple" class="selectpicker show-tick form-control" data-live-search="true" data-selected-text-format="count" id="id_hostOrder" name="HostOrder">
            {% for field in dropdowns.host_order %}
              <option value="{{field}}">{{field}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <h4>Host Family</h4>
        <div class="field-wrapper clearfix">
          <select multiple="multiple" class="selectpicker show-tick form-control" data-live-search="true" data-selected-text-format="count" id="id_hostFamily" name="HostFamily">
            {% for field in dropdowns.host_family %}
              <option value="{{field}}">{{field}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <h4>Host Genus</h4>
        <div class="field-wrapper clearfix">
          <select multiple="multiple" class="selectpicker show-tick form-control" data-live-search="true" data-selected-text-format="count" id="id_hostGenus" name="HostGenus">
            {% for field in dropdowns.host_genus %}
              <option value="{{field}}">{{field}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <h4>Scientific Name</h4>
        <div class="field-wrapper clearfix">
          <select multiple="multiple" class="selectpicker show-tick form-control" data-live-search="true" data-selected-text-format="count" id="id_hostName" name="Host">
            {% for field in dropdowns.host_binomial %}
              <option value="{{field}}">{{field}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Filter by Parasite</legend>
    <div class="row-fluid">
      <div class="col-md-4">
        <h4>Parasite Type</h4>
        <div class="field-wrapper clearfix">
          <select multiple="multiple" class="selectpicker show-tick form-control" data-live-search="true" data-selected-text-format="count" id="id_pathogenGroup" name="ParasiteGroup">
            {% for field in dropdowns.pathogen_group %}
              <option value="{{field}}">{{field}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <h4>Scientific Name</h4>
        <div class="field-wrapper clearfix">
          <select multiple="multiple" class="selectpicker show-tick form-control" data-live-search="true" data-selected-text-format="count" id="id_pathogenName" name="Pathogen">
            {% for field in dropdowns.pathogen_name %}
              <option value="{{field}}">{{field}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Filter by Infection Status</legend>
    <div class="row-fluid">
      <div class="col-md-4">
        <h4>Include Status</h4>
        <div class="field-wrapper clearfix">
          <select class="selectpicker show-tick form-control" data-live-search="true" data-selected-text-format="count" id="id_infectionStatus" name="InfectionStatus">
            {% for field in dropdowns.status %}
              <option value="{{field}}">{{field}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </fieldset>
  <br>
  <fieldset>
    <legend>Select the fields you want included in your download.</legend>
    <div class="field-grouping clearfix">
      <p>Host name:</p>
      <div class="field-wrapper column-checkboxes clearfix">
        <ul id="id_host_fields">
          {% for field in boxes.host_fields %}
            <li>
              <label for="id_host_fields_{{ loop.index - 1 }}">
                <input id="id_host_fields_{{ loop.index -1 }}" name="host_fields_{{ loop.index -1 }}" type="checkbox" value="{{ field.lower().replace(' ', '') }}"/>
                {{ field }}
              </label>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="field-grouping clearfix">
      <p>Parasite taxonomy:</p>
      <div class="field-wrapper column-checkboxes clearfix">
        <ul id="id_parasite_fields">
          {% for field in boxes.parasite_fields %}
            <li>
              <label for="id_parasite_fields_{{ loop.index - 1 }}">
                <input id="id_parasite_fields_{{ loop.index -1 }}" name="parasite_fields_{{ loop.index -1 }}" type="checkbox" value="{{ field.lower().replace(' ', '') }}"/>
                {{ field }}
              </label>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="field-grouping clearfix">
      <p>Infection profile:</p>
      <div class="field-wrapper column-checkboxes clearfix">
        <ul id="id_infection_fields">
          {% for field in boxes.infection_fields %}
            <li>
              <label for="id_infection_fields_{{ loop.index - 1 }}">
                <input id="id_infection_fields_{{ loop.index -1 }}" name="infection_fields_{{ loop.index -1 }}" type="checkbox" value="{{ field.lower().replace(' ', '') }}"/>
                {{ field }}
              </label>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="field-grouping clearfix">
      <p>Additional information</p>
      <div class="field-wrapper column-checkboxes clearfix">
        <ul id="id_other_fields">
          {% for field in boxes.other_fields %}
            <li>
              <label for="id_other_fields_{{ loop.index - 1 }}">
                <input id="id_other_fields_{{ loop.index -1 }}" name="other_fields_{{ loop.index -1 }}" type="checkbox" value="{{ field.lower().replace(' ', '') }}"/>
                {{ field }}
              </label>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </fieldset>
  <div class="well text-center">
    <input type="submit" value="Download Data" class="btn btn-primary"/>
  </div>
</form>
{% endblock %}
